{% extends "base.html" %}

{% block title %}Restaurantes{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Restaurantes Disponíveis</h1>
    
    <div class="restaurants-list">
        {% for r in restaurantes %}
            <a href="{{ url_for('menu_restaurante', restaurante_id=r.id_restaurante) }}" class="restaurant-card-link">
                <div class="card">
                    
                    <div class="restaurant-logo">
                        <img src="https://png.pngtree.com/png-clipart/20200709/original/pngtree-restaurant-logo-png-image_4009940.jpg" alt="Logo de {{ r.nome }}">
                    </div>
                    
                    <div class="card-content">
                        <div class="name-rating-box">
                            <div class="status-dot {% if r.aberto %}open{% else %}closed{% endif %}"></div>
                            <span class="restaurant-name">{{ r.nome }}</span>
                            
                            {% if r.avaliacao %}
                                <span class="rating">
                                    ⭐ {{ "%.1f"|format(r.avaliacao) }}
                                </span>
                            {% endif %}
                        </div>

                        <p class="cuisine-type">{{ r.tipo_culinaria }}</p>
                        
                        <hr class="card-divider">

                        <div class="delivery-details">
                            <div class="detail-item">
                                💰
                                <span>R$ {{ "%.2f"|format(r.taxa_entrega) }}</span>
                            </div>

                            {% if r.tempo_entrega_estimado and r.tempo_entrega_estimado != 'None' %}
                                <div class="detail-item">
                                    ⏰
                                    <span>{{ r.tempo_entrega_estimado }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </a>
        {% else %}
            <p>Nenhum restaurante cadastrado no momento.</p>
        {% endfor %}
    </div>
{% endblock %}